body{
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}
.wheather-container{
    background-color: #fff;
    padding:  20px 20px 30px 20px;
    border-radius:12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
h1{
    color: #333;
    margin: 0px 0px 20px 0px;
    width: 350px;
}
#city-input{
    width: calc(100%-20px);
    height: 20px;
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    text-align: right;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
}
#search-button{
    background-color: #0793e3;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 60px;
    height: 40px;
    margin-left: -10px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    transition: background-color 0.3 ease;
}
#search-button:hover{
    background-color: #0056b3;
}

#search-button img{
    width: 16px;
}
.wheather-info p{
    margin: 8px;
    color: #555;
    font-size: 18px;
}
#local-time{
    font-size: 1.1em;
    color: #666;
    margin-top: 10px;
    font-style: italic;
}
#city-name{
    font-size: 22px;
    font-weight: bold;
    color: #333;
}
.error-text{
    color: #dc3545;
    font-weight: bold;
    margin-top: 20px;
}

.loading-text{
    font-size: 1.1em;
    color: #007bff;
    font-weight: bold;
    margin-top: 20px;
}