/* ==== ریست پایه ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}


/* ==== تیترها ==== */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 40px 10px;
  background: #ffffff;
  border-radius: 10px;
  padding: 0px 20px 10px 10px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}
h1 {
  color:#0056b3;
  text-align: center;
  font-size: 30px;
}

/* ==== هدر ==== */
.main-header {
  position: relative;
  background: #0056b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  height: 60px;
  z-index: 3000;
}

/* ==== خط جداکننده ==== */
.divider {
  border: none;
  height: 3px;
  background-color: #007bff;
  margin: 20px auto 0;
  width: 100%;
}

/* ==== لوگو ==== */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  border-radius: 10px;
}

.logo-image {
  height: 50px;
  margin: 0 10px;
  padding: 5px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 60px;
}

/* ==== آیکون‌ها ==== */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-icon {
  background-color: rgba(2, 70, 118, 0.542);
  padding: 3px 10px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
}

.cart-icon:hover {
  background-color: rgba(255, 255, 255, 0.727);
}

#cart-count {
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 100%;
}

/* ==== آیکون همبرگر ==== */
.nav-hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 20px;
  z-index: 3001;
  color: white;
}

/* ==== منوی ناوبری (موبایل) ==== */
.nav-menu {
  position:absolute;
  top: 40px;
  left: 0px;
  background-color: #0056b3;
  width: 200px;
  z-index: 2000;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.4s ease, transform 0.3s ease;
  border-radius: 15px;
  text-align: center;
  display: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: scaleY(1);
  padding: 20px 0;
}

/* ==== آیتم‌های منو ==== */
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem !important;
  padding: 10px 30px;
  border-radius: 6px;
  display: inline-block;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-list li a:hover {
  color: #0056b3;
  background-color: white;
}

/* ==== محصولات ==== */
#products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0px 200px 0px 80px ;
  gap: 10px;
  flex: 1;

}

.product-card {
  height: 360px;
  width: 300px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  max-width: 140px;
  height: 160px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 24px;
  color: #222;
}

.product-description {
  font-size: 15px;
  color: #666;
  margin-bottom: 10px;
}

.product-details {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.product-price  {
  color: rgb(0, 171, 0);
  font-weight: bold;
  font-size: 16px;
}

#total-price{
   color: rgb(0, 171, 0);
  font-weight: bold;
  font-size: 16px;
}
/* ==== رنگ‌ها ==== */
.color-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px 5px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  transition: border 0.3s;
}

.color-dot:hover {
  border: 2px solid gray;
}

.color-dot.active {
  border: 2px solid lightskyblue;
}
.color-dot.active:hover {
  border: 2px solid gray;
}

/* ==== دکمه سبد خرید ==== */
.add-to-cart {
  background-color: #007bff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-family: system-ui;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

/* ==== لیست آیتم‌های سبد خرید ==== */
#cart-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

 
.main-footer{
background: #0056b3;
color: white;
padding: 1rem;
text-align: center;
font-size: 20px;
width: 100%;
}
/* ==== واکنشگرا ==== */

/* موبایل بزرگ */
@media (min-width: 576px) {
  #cart-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* تبلت و بالاتر */
@media (min-width: 768px) {

 .title-container{
        margin-top: 0 !important;
    }
  
 .nav-menu {
    height: 41.6px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: static;
    background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 160%);
    transform: none;
    opacity: 1;
    width: 100%;
    padding: 0px 0px 20px 0px;
    border-radius: 0px;
  }

 .nav-list {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .nav-hamburger {
    display: none;
  }

  .nav-list li a {
    color:#0056b3;
  }

 .nav-list li a:hover {
  color: #fff;
  background-color: #0056b3;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
  

  #cart-items {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* دسکتاپ بزرگ */
@media (min-width: 1200px) {
  #cart-items {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* حالت موبایل - فعال شدن همبرگر */
@media (max-width: 767px) {

  .main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  height: 60px;
  z-index: 3000;
  background: #0056b3;
}

#products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;

}
.product-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 500px;
  height: auto;
}

  .product-image {
    width: 100px;
    height: 160px;
    align-items: flex-start;
    width: 50%;
  }

  .product-name{
    width: 50%;
    font-size: 30px;
    text-align: left;
    margin: 0px 0px 90px 10px;
  }

  .product-description {
    font-size: 16px;
    width: 50%;
    margin: -120px 190px 0px 0px;
    text-align: center;
  }

  .product-details {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    
  }
  .product-price {
    width:auto;
    margin: 5px 0px 0px 30px;
    font-size: 20px;
  }
  .color-dot{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

.cart-icon {
    position: absolute;
    left: 60px;
  }
   
  .nav-hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }
}
.main-footer{
background: #0056b3;
}
