/* ==== ریست پایه ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

 main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 81.7vh;
}


.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 40px 10px;
  background: #ffffff;
  border-radius: 10px;
  padding: 0px 20px 10px 10px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

h1 {
  color:#0056b3;
  text-align: center;
  font-size: 30px;
}


.main-header {
  position: relative;
  background: #0056b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  height: 60px;
  z-index: 3000;
}

/* ==== خط جداکننده ==== */
.divider {
  border: none;
  height: 3px;
  background-color: #007bff;
  margin: 20px auto 0;
  width: 100%;
}

/* ==== لوگو ==== */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  border-radius: 10px;
}

.logo-image {
  height: 50px;
  margin: 0 10px;
  padding: 5px;
}

.logo-text {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 60px;
}

/* ==== آیکون‌ها ==== */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.5rem;
  cursor: pointer;
}





#cart-count {
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 100%;
}

/* ==== آیکون همبرگر ==== */
.nav-hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 20px;
  z-index: 3001;
  color: white;
}

/* ==== منوی ناوبری (موبایل) ==== */
.nav-menu {
  position:absolute;
  top: 40px;
  left: 0px;
  background-color: #0056b3;
  width: 200px;
  z-index: 2000;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.4s ease, transform 0.3s ease;
  border-radius: 15px;
  text-align: center;
  display: none;
}


.nav-menu.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: scaleY(1);
  padding: 20px 0;
}

/* ==== آیتم‌های منو ==== */
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem !important;
  padding: 10px 30px;
  border-radius: 6px;
  display: inline-block;
  transition: color 0.3s ease, background-color 0.3s ease;
}



.nav-list li a:hover {
  color: #0056b3;
  background-color: white;
}

/* ==== سبد خرید ==== */
#cart-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 0;
}

/* ==== محصولات ==== */
#products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center; /* باعث میشه کارت‌ها وسط بمونند */
  margin: 0px 230px;
  gap: 20px;
  padding: 20px;
}


.product-card {
  height: 360px;
  width: 240px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  max-width: 140px;
  height: 160px;
  border-radius: 8px;
  
}

.product-name {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  margin: 5px 0;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.product-price {
  color: rgb(0, 171, 0);
  font-weight: bold;
  font-size: 16px;
}
#total-price, span{
     color:rgb(0, 171, 0) ;
  font-weight: bold;
  font-size: 20px;
}

/* ==== رنگ‌ها ==== */
.color-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  transition: border 0.3s;
}

.color-dot:hover {
  border: 2px solid gray;
}

.color-dot.active {
  border: 2px solid lightskyblue;
}
.color-dot.active:hover {
  border: 2px solid gray;
}
.quantity-controls{
  display: flex;
  align-content: center;
  gap: 10px;
  margin-top: 20px;
}

.quantity-controls button {
  border:none;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.quantity-controls button:hover {
  transform: scale(1.1);
}


 .increase{
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    border-radius: 100px;
  }
  .decrease{
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    border-radius: 100px;
  }
  
  .remove-from-card{
    background-color: rgb(213, 18, 18);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 19px;
    transition: transform;
  }
  .total-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 400px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  gap: 20px;
  width: 30%;
  height: 70px;
  }
 
  h3{
    color: grey;
    font-size: 20px;
  }
  .pay-button{
    background-color:rgb(0, 171, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 100px;
    border: none;

  }

.main-footer{
background: #0056b3;
color: white;
padding: 1rem;
text-align: center;
font-size: 20px;
width: 100%;
}


/* موبایل بزرگ */
@media (min-width: 576px) {
  #products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* تبلت و بالاتر */
@media (min-width: 768px) {
  main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 75.7vh;
}
    
    .title-container{
        margin-top: 0 !important;
    }

 .nav-menu {
    display: flex !important;
    justify-content: center;
    position: static;
    background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 160%);
    transform: none;
    opacity: 1;
    width: 100%;
    padding: 0px 0px 20px 0px;
    border-radius: 0px;
  }

  .nav-list {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .nav-hamburger {
    display: none;
  }

  .nav-list li a {
    color:#0056b3;
  }

  .nav-list li a:hover {
  color: #fff;
  background-color: #0056b3;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

 
  
  }



/* دسکتاپ بزرگ */
@media (min-width: 1200px) {
  #products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* حالت موبایل - فعال شدن همبرگر */
@media (max-width: 767px) {

 .main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  height: 60px;
  z-index: 3000;
  background: #0056b3;
}
#products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;

}
.product-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 500px;
  height: auto;
  gap: 20px;
}

  .product-image {
    width: 100px;
    height: 160px;
    align-items: flex-start;
    width: 50%;
  }

  .product-name{
    width: 50%;
    font-size: 24px;
    text-align: left;
    margin: 0px 0px 50px 20px;
  }

  .product-description {
    font-size: 16px;
    width: 100%;
    margin: -80px 150px 0px 0px;
    text-align: right;
  }

  .product-details {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    
  }
  .product-price {
    width:auto;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
  }

  .color-dot{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 500px;
    height: auto;
    gap: 20px;
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
  }


   
  .nav-hamburger {
    display: block;
  }

.nav-menu {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 15px 0;
  border-radius: 0 0 15px 15px;
  transform-origin: top;
}


  .nav-menu.active {
    display: flex;
  }
}

.pay-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .total-container{
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
  gap: 20px;
  min-width: 380px;
  margin: 50px auto;
  height: 60px;
  }
  .title-container{
    margin-top: 10px;
  }

  
