* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}

 main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 81.7vh;
}


/* ==== هدر ==== */
.main-header {
  position: relative;
  background: #0056b3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  height: 60px;
  z-index: 3000;
}

/* ==== خط جداکننده ==== */
.divider {
  border: none;
  height: 3px;
  background-color: #007bff;
  margin: 20px auto 0;
  width: 100%;
}

/* ==== لوگو ==== */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  border-radius: 10px;
}

.logo-image {
  height: 50px;
  margin: 0 10px;
  padding: 5px;
}


.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 60px;
}

/* ==== آیکون‌ها ==== */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.5rem;
  cursor: pointer;
}


.cart-icon {
  background-color: rgba(2, 70, 118, 0.542);
  padding: 3px 10px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px;
}

.cart-icon:hover {
  background-color: rgba(255, 255, 255, 0.727);
}

#cart-count {
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 100%;
}

/* ==== آیکون همبرگر ==== */
.nav-hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 20px;
  z-index: 3001;
  color: white;
}

/* ==== منوی ناوبری (موبایل) ==== */
.nav-menu {
  position:absolute;
  top: 40px;
  left: 0px;
  background-color: #0056b3;
  width: 200px;
  z-index: 2000;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.4s ease, transform 0.3s ease;
  border-radius: 15px;
  text-align: center;
  display: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: scaleY(1);
  padding: 20px 0;
}

/* ==== آیتم‌های منو ==== */
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem !important;
  padding: 10px 30px;
  border-radius: 6px;
  display: inline-block;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-list li a:hover {
  color: #0056b3;
  background-color: white;
}

.main-footer{
background: #0056b3;
color: white;
padding: 1rem;
text-align: center;
font-size: 20px;
width: 100%;
}


/* تبلت و بالاتر */
@media (min-width: 768px) {

  
 .nav-menu {
    height: 41.6px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: static;
    background: linear-gradient(180deg, #ffffff 0%, #e7e7e7 160%);
    transform: none;
    opacity: 1;
    width: 100%;
    padding: 0px 0px 20px 0px;
    border-radius: 0px;
  }

 .nav-list {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .nav-hamburger {
    display: none;
  }

  .nav-list li a {
    color:#0056b3;
  }

 .nav-list li a:hover {
  color: #fff;
  background-color: #0056b3;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
  

}


/* حالت موبایل - فعال شدن همبرگر */
@media (max-width: 767px) {

     .main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  height: 60px;
  z-index: 3000;
  background: #0056b3;
}

.nav-hamburger {
    display: block;
  }

  .cart-icon {
    position: absolute;
    left: 60px;
  }
  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }
}
.main-footer{
background: #0056b3;
}