main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
}
img{
     width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}
h2{
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}
p{
     font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}
.social-icons{
      margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.social-icons a{
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 15px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease , color 0.3s ease ,transform 0.3s ease;
}
.social-icons a:hover{
background-color: #007bff;
color: #ffff;
transform: scale(1.1);
}